body {
  background: #eaeaea;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  color: #492C1D;
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 1px;
  color: #4A8C69;
}

h1 {
  color: #58728E;
}

p {
  color: #492C1D;
}

a {
  text-decoration: none;
  color: #492C1D;
}

a:hover {
  text-decoration: underline;
}

.side-image {
    visibility: collapse;
}

table {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
}

td {
  width: 50%;
}

.my-container {
    width: 100%;
    margin: auto;
}

.card {
    width: 80%;
    padding: 10px;
    background: white;
    margin: 20px auto;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.image {
    max-width: 100%;
    padding: 20px;
    padding-left: 0;
    border-radius: 3px;
    max-height: 300px;
}

#face {
  /*margin-top: 20px;*/
  width: 150px;
  height: 150px;
  border-radius: 750px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

/*.text-center {
  text-align: center;
}*/

.list-inline > li {
 display: inline-block;
 padding: 0px 20px;
}

.list-inline {
  list-style: none;
 padding-left: 0px;
 font-size: 20px
}
